body {
    background-image: url(images/background.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    min-height: 100vh;
    font-family: lato;
}
body * {
    margin: 0;
    padding: 0;  
}
h1 {
    color: rgb(0, 0, 0);
    text-shadow: 2px 2px 2px rgb(255, 255, 255);
    font-weight: 600;
}
.gameBoard {
    min-height: 80vh;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 1200px;
    margin: auto;
}
.imageDé {
    width: 80px;  
}
.control {
    background-color: rgba(255, 255, 255, 0.511);
    padding: 0.5rem;
}
button {
    background: none;
    border: 1px solid rgb(206, 206, 206);
    border-radius: 0.5rem;
    padding: 0.5rem;
    text-transform: uppercase;
}
button img {
    width: 25px;
    margin: 0.5rem;
}
.player {   

    background-color: white;
    padding: 1rem;
    color: rgb(192, 192, 192);
}

.playeur_actif {
    background-color: rgb(217, 217, 217);
}

.playeur_title_actif {
    color: black;
}
.playeur_title_actif::after {
    content: "\2022";
    padding: 1rem;
    color: red;
  
}
.current {
    width: fit-content;
    margin: auto;
    font-size: 14px;
    margin-left: 2px;
}

/* ====================================================== */
@media screen and (min-width : 700px) {
    
    .control{
        position: absolute;
        background-color: transparent;
        width: fit-content;
        height: 80vh;
        align-content: space-between;    
    }
    .player{
      flex: 1; 
      flex-direction: column;
      height: 80vh;
      padding-top: 5vh; 
    }
    .control button {
        border: none;
        flex-direction: row;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s;
    }
    .current {
        width: fit-content;
        margin: auto;
        margin-bottom: 5vh;
        font-size: 20px;
    }
    
    button:hover{
     transform: scale(1.1); 
    }
}