body {
     background-image: url(images/background.jpg);
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
     min-height: 100vh;
     display: flex;
     align-items: center;
     justify-content: center;
}
body * {
    margin: 0;
    padding: 0;  
 }
.imageDé{
    width: 80px;
    margin: 2rem;   
}
.playeur {
    background-color: white;
    color: rgb(117, 117, 117);
    padding: 2rem;
    width: 100vw;
}
.playeur_actif {
    background-color: rgb(243, 243, 243);
}

.gameboard {
    font-family: Lato;
    width: 80vw; 
    min-height: 80vh;  
}
.gameboard button{
    border: none;
    background: none;
    display: flex;
    align-items: center;  
    text-transform: uppercase;
    color: #555;
    font-size: 20px; 
    font-weight: 300; 

    transition: 0.3s;
  }
.gameboard button img{
    max-width: 30px;
    margin: 0.5rem;
}
.gameboard button:hover {
    transform: scale(1.1);
}
.playeur_title_actif{
    color: black;
}
.playeur_title_actif::after {
    content: " \01F4CD";
    padding: 1rem;
}
.control {
    background-color: rgb(237, 237, 237);
}
@media screen and (max-width : 800px){
.control {
    background-color: rgb(237, 237, 237);
}
    .column-reverse{
    flex-direction: column-reverse;
  }
  .column-reverse-reverse {
    flex-direction: column;
  }
}
@media screen and (min-width : 900px){
    .control{
    padding: 1rem;
    position: absolute;
    height: 70vh;
    }
    .playeur{
      width: 50%;
      height: 80vh;
    }
    .control {
        background-color: transparent;
    }
}